@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Neucha&family=Pacifico&family=Poppins:wght@300;400;700&display=swap');
.userName{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0rem 0.8rem;
    p{
        font-family: 'Kalam', cursive;
    }
    
    
}

// position: 'absolute', top: 10, right: 10