.navbar{
    background-color: #fb8500;
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.navbar-right{
    padding-top: 1rem;
}

.navbar-left{
    padding-top: 0.8rem;
}

.navbar-left form input {
    /* Styles for the input field */
    
    padding: 10px;
    border-radius: 20px; /* Rounded corners */
    outline: none; /* Remove default input focus outline */
    width: 225px; /* Adjust the width as needed */
  
    /* Do not hide the search text */
    color: #fff; /* Set text color to match the border color */
    text-indent: 0; /* Remove text indent */
  
    /* Background and border styles */
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

  }

.navbar-left form button {
    /* Styles for the submit button */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 20px; /* Rounded corners */
    background-color: #fff; /* Button background color */
    color: black; /* Button text color */
    cursor: pointer;
    outline: none; /* Remove default button focus outline */
    // box-shadow: 2px 2px 5px #8888;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .navbar-left form button:hover {
    /* Styles for button on hover */
    background-color: #edede9; /* Adjust color as needed */
  }

  .navbar-left form button:active {
    background-color: #fff;
  }


  .navbar-left form {
    /* Styles for the search form */
    margin-right: 20px; /* Adjust margin as needed */
  }

 
  .navbar-left form input:focus {
            // padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid black;
            border-radius: 10px;
            background-position: 100% center;
            transition: all 200ms ease-in-out;
            background-color: #edede9;
            }



.navbar-right a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-size: larger;
    text-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    
}

.navbar-right a:hover {
    color:#edede9;
}

.navbar-right a:active {
    color: #fff;
    
}

